<!DOCTYPE html>
<html>
    <head>
        <% if (site.gtm_id) { %>
            <!-- Google Tag Manager -->
            <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer',"<%= site.gtm_id %>");</script>
            <!-- End Google Tag Manager -->
        <% } %>
        <meta charset="utf-8">
        <title><%= page.headline %> | <%= site.seo_name %></title>
        <link href="https://fonts.googleapis.com/css?family=Bitter:400,700|Cabin:400,400i,500,700" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="<%= AWS_S3_ENDPOINT %>/lib/proto-app-lib.min.css">
        <link rel="stylesheet" type="text/css" href="<%= AWS_S3_ENDPOINT %>/lib/proto-app-style.min.css">
        <link rel="stylesheet" type="text/css" href="<%= AWS_S3_ENDPOINT %>/<%= template_page_s3 %>/proto-app-article.min.css">
        <link rel="stylesheet" type="text/css" href="<%= AWS_S3_ENDPOINT %>/lib/proto-app-fonts.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <% if (site.favicon_url) { %>
            <link rel="icon" type="image/png" href="<%= site['favicon_url'] %>" />
        <% } %>
        <% if (page.meta_keywords) { %>
            <meta name="keywords" content="<%= page.meta_keywords %>" />
        <% } %>
        <!-- Facebook Meta Tags -->
        <meta property="og:type" content="article" />
        <meta property="og:url" content="<%= page.html_key %>" />
        <meta property="og:site_name" content="<%= site.seo_name %>" />
        <meta property="og:title" content="<%= page.headline %>" />
        <meta property="og:updated_time" content="<%= page.published_at %>" />
        <% if (page.share_text_facebook) { %>
            <meta property="og:description" content="<%= page.share_text_facebook %>" />
        <% } %>
        <!-- Twitter Meta Tags -->
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:site" content="<%= site.seo_name %>" />
        <meta name="twitter:url" content="<%= page.html_key %>" />
        <meta name="twitter:title" content="<%= page.headline %>" />
        <% if (page.share_text_twitter) { %>
            <meta name="twitter:description" content="<%= page.share_text_twitter %>" />
        <% } %>
        <% if (page.meta_description) { %>
            <meta name="description" content="<%= page.meta_description %>" />
        <% } %>
        <% if (page.cover_image_url) { %>
            <meta property="og:image" content="<%= page.cover_image_url %>" />
            <meta name="twitter:image" content="<%= page.cover_image_url %>" />
        <% } %>
        <style>
            .explainers-sticky-segment-question:hover{
                border-left: 3px solid <%- site.house_colour %>;
            }
            .band_color {
                border-left: 3px solid <%- site.house_colour %>;
            }
            .single-index-value.active{
                border-left: 2px solid <%- site.house_colour %>;
                color: <%- site.house_colour %>;
            }
            .article-share-icons{
                background: <%- site.house_colour %>;
            }
            .single-tab-value.active-value{
                border-bottom: 2px solid <%- site.house_colour %>;
                color: <%- site.house_colour %>;
            }
        </style>
        <script>var newOpera = (navigator.userAgent.match(/Opera|OPR\//) ? true : false);if(window.newOpera){ $('body').addClass('operaBody'); }</script>
        <% if (site.is_ad_enabled) { %>
            <script src='https://www.googletagservices.com/tag/js/gpt.js' ></script>
            <script>
                var googletag = googletag || {};
                googletag.cmd = googletag.cmd || [];
                googletag.cmd.push(function() {
                    <% page.ad_integrations.forEach(function(e) { %>
                        googletag.defineSlot( "<%= e.slot_text %>", [<%= e.width %>, <%= e.height %>], "<%= e.div_id %>").addService(googletag.pubads());
                    <% }) %>
                    googletag.pubads().collapseEmptyDivs();
                    googletag.enableServices();
                });
            </script>
        <% } %>
    </head>

    <% let language = site.primary_language.toLowerCase(); %>
    <% let body_class = language !== 'english' ? `language-${language}` : "proto-app-body"; %>

    <body class="<%= body_class %>">
        <% if (site.comscore_code) { %>
            <script>
                var _comscore = _comscore || [];_comscore.push({ c1: "2", c2: "<%= site.comscore_code %>" }); (function() {var s = document.createElement("script"), el = document.getElementsByTagName("script")[0];s.async = true;s.src = (document.location.protocol == "https:" ? "https://sb" : "http://b")+ ".scorecardresearch.com/beacon.js"; el.parentNode.insertBefore(s, el); })();
            </script>
        <% } %>

        <div class="proto-app-navbar-masthead" id="site_header">
            <div class="proto-app-navbar-proto-container">
                <div class="proto-app-navbar-site-logo proto-app-navbar-position-left"></div>
                <div class="proto-app-navbar-menu-icon">
                    MENU
                    <img src="https://cdn.protograph.pykih.com/Assets/proto-app/img/menu-icon.png" />
                </div>
            </div>
        </div>
        <div class="proto-app-navbar-proto-container">
            <div id="proto_app_header">
                <div class="proto-app-navbar">
                    <div class="proto-app-navbar-logo-holder">
                        <div class="proto-app-navbar-logo">
                            <a href="https://pro.to" target="_blank">
                                <img src="https://cdn.protograph.pykih.com/Assets/proto-app/img/proto-color-logo.png" class="colored-logo" />
                                <img src="https://cdn.protograph.pykih.com/Assets/proto-app/img/proto-grey-logo.png" class="grey-logo" />
                            </a>
                        </div>
                        <h1 class="proto-app-navbar-project-name" id="homepage_nav">
                            <%- ref_category_object['name_html'] %>
                        </h1>
                        <div class="proto-app-navbar-project-by"><%- page.site_by ? page.site_by : "" %></div>
                        <div class="proto-app-navbar-first-navigation">
                            <span></span>
                            <div class="fade-effect"></div>
                            <img src="https://cdn.protograph.pykih.com/Assets/proto-app/img/arrow-right.png" />
                        </div>
                    </div>
                    <div class="proto-app-navbar-navigation-bar">
                        <div class="proto-app-navbar-left-click-arrow" id="proto-navbar-prev">
                            <img src="https://cdn.protograph.pykih.com/Assets/proto-app/img/arrow-left.png" />
                        </div>
                        <div class="proto-app-navbar-page-navigation">
                            <div class="proto-app-navbar-overlay">
                                <div class="proto-app-navbar-navigation-scroll" id="vertical_nav"></div>
                            </div>
                        </div>
                        <div class="proto-app-navbar-right-click-arrow" id="proto-navbar-next">
                            <img src="https://cdn.protograph.pykih.com/Assets/proto-app/img/arrow-right.png" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="proto-grid-container data-page">
            <div class="proto-col col-16" id="col_16_cover_container">
                <% major_stream_blockquotes[streams_mapping['16c_Hero'].title].forEach(function(e) { %>
                    <div id="<%= e[0]%>">
                        <%- e[1] %>
                    </div>
                    <div style='margin-bottom: 20px'></div>
                <% }) %>
            </div>

            <div class="proto-col col-16 cover-page-overlay no-right-column">
                <div class="proto-col col-4 navigation-links">
                    <div class="summary">
                        <div class="article-share-icons">
                            <div class="article-share-icons">
                                <a href="#" id='facebook-share-link' target="_blank">
                                    <div class="single-share-icon"><img src="https://cdn.protograph.pykih.com/Assets/proto-app/img/article-share-facebook.png"></div>
                                </a>
                                <a href="#" id='twitter-share-link' target="_blank">
                                    <div class="single-share-icon"><img src="https://cdn.protograph.pykih.com/Assets/proto-app/img/article-share-twitter.png"></div>
                                </a>
                            </div>
                        </div>
                        <% if (page.summary.length) { %>
                            <div class="summary-text"><%= page.summary %></div>
                        <% } %>
                    </div>
                    <div class="page-index" id="sticker">
                        <% if (navigation_json && navigation_json.length) { %>
                            <div class="theiaStickySidebar">
                                <div class="index-title-tabs">
                                    <div class="single-tab-value active-value">OVERVIEW</div>
                                </div>
                                <nav class="scroll_navigation" id="myNavbar">
                                    <ul class="nav index-list">
                                        <% navigation_json.forEach(function(item, i) { %>
                                            <% if (item['section'].length) { %>
                                                <li class="nav-item">
                                                    <a href="#article_<%= item['view_cast_identifier'] %>" class="nav-link single-index-value <%= (i === 0) ? 'active' : '' %>">
                                                        <%= item['section'] %>
                                                    </a>
                                                </li>
                                            <% } %>
                                        <% }); %>
                                    </ul>
                                </nav>
                            </div>
                        <% } %>
                    </div>
                </div>
                <div class="proto-col col-7 proto-articles-container">
                    <div class="article-area-small" id="article">
                        <div class="fade-area"></div>
                        <% major_stream_blockquotes[streams_mapping['Narrative'].title].forEach(function(e, i) { %>
                            <% if (streams_mapping['Narrative'].ads && streams_mapping['Narrative'].ads[i+1]) { %>
                                <div id="<%= streams_mapping['Narrative'].ads[i+1].div_id %>" style= "height: <%= streams_mapping['Narrative'].ads[i+1].height %>px; width:540px;">
                                <script>
                                googletag.cmd.push(function() { googletag.display("<%= streams_mapping['Narrative'].ads[i+1].div_id %>"); });
                                </script>
                                </div>
                                <div style='margin-bottom: 20px'></div>
                            <% } %>
                            <div id="article_<%= e[0]%>" class="ProtoCard-articles">
                                <%- e[1] %>
                            </div>
                            <div style='margin-bottom: 20px'></div>
                        <% }) %>
                    </div>
                    <div class="default-button read-more-button" id="cont-button">
                        Keep reading
                    </div>
                </div>
                <div class="proto-col col-4 col-1-offset no-margin-right">
                    <div class="related-articles-link">
                        <div class="theiaStickySidebar">
                            <div class="column-title"><%= streams_mapping['Related'].name_of_stream %></div>
                            <div class="proto-hidden-article-content" id="related_container">
                                <div class="fade-area"></div>
                                <% major_stream_blockquotes[streams_mapping['Related'].title].forEach(function(e, i) { %>
                                    <% if (streams_mapping['Related'].ads && streams_mapping['Related'].ads[i+1]) { %>
                                        <div id="<%= streams_mapping['Related'].ads[i+1].div_id %>" style= "height: <%= streams_mapping['Related'].ads[i+1].height %>px; width:540px;">
                                        <script>
                                        googletag.cmd.push(function() { googletag.display("<%= streams_mapping['Related'].ads[i+1].div_id %>"); });
                                        </script>
                                        </div>
                                        <div style='margin-bottom: 20px'></div>
                                    <% } %>
                                    <div id="ProtoCard_related_articles_<%= e[0]%>" class="ProtoCard-related-articles">
                                        <%- e[1] %>
                                    </div>
                                <% }) %>
                                <div style='margin-bottom: 20px'></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <% if (more_in_the_intersection) { %>
                <div class="proto-col col-16 more-articles-link-div">
                    <div class="more-articles-link">
                        <div class="column-title">
                            <%= more_in_the_intersection.name_of_stream %>
                            <a href="<%= more_in_the_intersection['rss_url'] %>" target="_blank">
                                <img src="https://cdn.protograph.pykih.com/Assets/rss-black-icon.png" height="12px" width="12px" style="margin-left: 7px;">
                            </a>
                        </div>
                        <div id="more_intersections_container" class="more-articles-container"></div>
                    </div>
                </div>
            <% } %>
            <% if (more_in_the_sub_intersection) { %>
                <div class="proto-col col-16 more-articles-link-div">
                    <div class="more-articles-link">
                        <div class="column-title">
                            <%= more_in_the_sub_intersection.name_of_stream %>
                            <a href="<%= more_in_the_intersection['rss_url'] %>" target="_blank">
                                <img src="https://cdn.protograph.pykih.com/Assets/rss-black-icon.png" height="12px" width="12px" style="margin-left: 7px;">
                            </a>
                        </div>
                        <div id="more_sub_intersections_container" class="more-articles-container"></div>
                    </div>
                </div>
            <% } %>
            <% if (more_in_the_series) { %>
                <div class="proto-col col-16 more-articles-link-div">
                    <div class="more-articles-link">
                        <div class="column-title">
                            <%= more_in_the_series.name_of_stream %>
                            <a href="<%= more_in_the_series['rss_url'] %>" target="_blank">
                                <img src="https://cdn.protograph.pykih.com/Assets/rss-black-icon.png" height="12px" width="12px" style="margin-left: 7px;">
                            </a>
                        </div>
                        <div id="more_articles_container" class="more-articles-container"></div>
                    </div>
                </div>
            <% } %>
        </div>
        <div class="protograph-app-filter-icon" id="protograph_filter_icon">&#9776;</div>
        <div class="protograph-app-filter-icon protograph-app-filter-close-button" id="protograph_filter_close_icon"><i class="remove icon"></i></div>
        <div class="proto-app-scroll-to-top" title="Scroll to top">
            <i class="angle up icon"></i>
        </div>
        <% let page_object = {}; %>
        <% ["headline", "cover_image_url", "cover_image_url_7_column"].forEach(function(e){ %>
            <% page_object[e] = page[e]; %>
        <% }); %>
        <script>
            window.ProtoGraph = window.ProtoGraph || {};
            ProtoGraph.streams = <%- JSON.stringify(streams_mapping) %>;
            ProtoGraph.ref_category_object = <%- JSON.stringify(ref_category_object) %>;
            ProtoGraph.page = <%- JSON.stringify(page_object) %>;
            ProtoGraph.site = <%- JSON.stringify(site) %>;
            ProtoGraph.site_header_json_url = "<%- site_header_json_url %>";
            ProtoGraph.vertical_header_json_url = "<%- vertical_header_json_url %>";
            ProtoGraph.homepage_header_json_url = "<%- homepage_header_json_url %>";
            ProtoGraph.more_in_the_series = <%- JSON.stringify(more_in_the_series) %>;
            ProtoGraph.more_in_the_intersection = <%- JSON.stringify(more_in_the_intersection || {}) %>;
            ProtoGraph.more_in_the_sub_intersection = <%- JSON.stringify(more_in_the_sub_intersection || {}) %>;
        </script>
        <script type="text/javascript" src="<%= AWS_S3_ENDPOINT %>/lib/protoGraph.min.js" defer></script>
        <script type="text/javascript" src="<%= AWS_S3_ENDPOINT %>/lib/proto-app-lib-article.min.js" defer></script>
        <script type="text/javascript" src="<%= AWS_S3_ENDPOINT %>/lib/proto-app-init.min.js" defer></script>
        <script type="text/javascript" src="<%= AWS_S3_ENDPOINT %>/<%= template_page_s3 %>/proto-app-article.min.js" defer></script>
        <% if (site.ga_code) { %>
            <!-- Global Site Tag (gtag.js) - Google Analytics -->
            <script async src="https://www.googletagmanager.com/gtag/js?id=<%= site.ga_code %>"></script>
            <script>
                window.dataLayer = window.dataLayer || [];
                function gtag(){dataLayer.push(arguments);}
                gtag('js', new Date());

                gtag('config', '<%= site.ga_code %>');
            </script>
        <% } %>
    </body>

</html>