<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <title><%= page.headline %> | <%= site.seo_name %></title>
        <link href="https://fonts.googleapis.com/css?family=Bitter:400,700|Cabin:400,400i,500,700" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="<%= AWS_S3_ENDPOINT %>/lib/proto-app-lib.min.css">
        <link rel="stylesheet" type="text/css" href="<%= AWS_S3_ENDPOINT %>/lib/proto-app-style.min.css">
        <link rel="stylesheet" type="text/css" href="<%= AWS_S3_ENDPOINT %>/<%= template_page_s3 %>/proto-app-cover.min.css">
        <link rel="stylesheet" type="text/css" href="<%= AWS_S3_ENDPOINT %>/lib/proto-app-fonts.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <% if (site.favicon_url) { %>
            <link rel="icon" type="image/png" href="<%= site['favicon_url'] %>" />
        <% } %>
        <% if (page.meta_keywords) { %>
            <meta name="keywords" content="<%= page.meta_keywords %>" />
        <% } %>
        <!-- Facebook Meta Tags -->
        <meta property=​"og:​type" content=​"article">​
        <meta property=​"og:​url" content=​"<%= page.html_key %>">​
        <meta property=​"og:​site_name" content=​"<%= site.seo_name %>">​
        <meta property=​"og:​title" content=​"<%= page.headline %>">​
        <meta property=​"og:​updated_time" content=​"<%= page.published_at %>">​
        <!-- Twitter Meta Tags -->
        <meta name=​"twitter:​site" content=​"<%= site.seo_name %>">​
        <meta name=​"twitter:​url" content=​"<%= page.html_key %>">​
        <meta name=​"twitter:​title" content=​"<%= page.headline %>">​
        <% if (page.meta_description) { %>
            <meta name="description" content="<%= page.meta_description %>" />
            <meta property=​"og:​description" content=​"<%= page.meta_description %>">​
            <meta name=​"twitter:​description" content=​"<%= page.meta_description %>">​
        <% } %>
        <% if (page.cover_image_url) { %>
            <meta property=​"og:​image" content=​"<%= page.cover_image_url %>">​
            <meta name=​"twitter:​image" content=​"<%= page.cover_image_url %>">​
        <% } %>

        <style>
            .proto-mobile-grid-navigatio-tab.proto-active-tab {
                color: <%- site.house_colour %>;
                border-bottom: 2px solid <%- site.house_colour %>;
            }
        </style>

    </head>

    <% let language = site.primary_language.toLowerCase(); %>
    <% let body_class = language !== 'english' ? `language-${language}` : "proto-app-body"; %>

    <body class="<%= body_class %>">
        <% if (site.comscore_code) { %>
            <%- site.comscore_code %>
        <% } %>
        <div class="proto-grid-container">

            <div class="client-brand-cover small-cover" id="site_header">
                <div class="client-logo"></div>
            </div>
            <div class="proto-col col-16 proto-verticals-navbar">
                <div class="proto-vertical-name" id="homepage_nav">
                    <h1 class="navbar-project-title"><%- ref_category_object['name_html'] %></h1>
                    <i class="chevron down icon proto-hide"></i>
                </div>
                <div class="page-navigation-options" id="vertical_nav"></div>
                <div class="pnav-options single-pnav-option" id="homepage_nav_list"></div>
                <div class="social right-float-div">
                    <% if (site.facebook_url) { %>
                        <div class="single-link facebook">
                            <a href="<%= site['facebook_url'] %>" target="_blank">
                                <img src="https://cdn.protograph.pykih.com/Assets/proto-app/img/fb-white.png">
                            </a>
                        </div>
                    <% } %>
                    <% if (site.twitter_url) { %>
                        <div class="single-link twitter">
                            <a href="<%= site['twitter_url'] %>" target="_blank">
                                <img src="https://cdn.protograph.pykih.com/Assets/proto-app/img/tw-white.png">
                            </a>
                        </div>
                    <% } %>
                    <% if (more_in_the_series) {%>
                        <div class="single-link">
                            <a href="<%= more_in_the_series['rss_url'] %>" target="_blank">
                                <img src="https://cdn.protograph.pykih.com/Assets/rss_symbol.png" height="15px" width="15px">
                            </a>
                        </div>
                    <% }%>
                </div>
            </div>
            <div class="mobile-navigation">
                <div class="mobile-navbar">
                    <div class="branding">
                        <h1 class="navbar-project-title"><%- ref_category_object['name_html'] %></h1>
                        <i class="chevron down icon proto-hide"></i>
                    </div>
                    <div class="right-float-div">
                        <div class="hamburger-icon"><img src="https://cdn.protograph.pykih.com/Assets/proto-app/img/hamburger-icon.png"></div>
                    </div>
                    <div class="pnav-options single-pnav-option" id="mobile_homepage_nav_list"></div>
                </div>

                <div class="mobile-navigations-screen">
                    <div class="right-float-div">
                        <div class="close-icon"><i class="remove icon"></i></div>
                    </div>
                    <div class="nav-links"></div>
                    <div class="social bottom-pull-div">
                        <% if (site.facebook_url) { %>
                            <div class="single-link facebook">
                                <a href="<%= site['facebook_url'] %>" target="_blank">
                                    <img src="https://cdn.protograph.pykih.com/Assets/proto-app/img/fb-black.png">
                                </a>
                            </div>
                        <% } %>
                        <% if (site.twitter_url) { %>
                            <div class="single-link twitter">
                                <a href="<%= site['twitter_url'] %>" target="_blank">
                                    <img src="https://cdn.protograph.pykih.com/Assets/proto-app/img/tw-black.png">
                                </a>
                            </div>
                        <% } %>
                    </div>
                </div>
            </div>

            <div class="proto-col col-16 stick-to-top">
                <div class="col-16-story-card">
                    <div id='cover_container'>
                        <% major_stream_blockquotes[streams_mapping['16c_Hero'].title].forEach(function(e) { %>
                            <div id="<%= e[0]%>">
                                <%- e[1] %>
                            </div>
                            <div style='margin-bottom: 20px'></div>
                        <% }) %>
                    </div>
                </div>
            </div>
            <div class="proto-col col-16 proto-nav-sticky">
                <div class="proto-mobile-grid-navigation">
                    <div class="proto-mobile-grid-navigatio-tab proto-active-tab"><%= streams_mapping['7c']['name_of_stream'] %></div>
                    <div class="proto-mobile-grid-navigatio-tab"><%= streams_mapping['4c']['name_of_stream'] %></div>
                    <div class="proto-mobile-grid-navigatio-tab"><%= streams_mapping['2c']['name_of_stream'] %></div>
                    <div class="proto-mobile-grid-navigatio-tab"><%= streams_mapping['3c']['name_of_stream'] %></div>
                </div>
            </div>
            <div id="cover" class="proto-col col-16 cover-page-overlay no-right-column">
                <div class="proto-col col-7 proto-tab-content proto-tab-active-content">
                    <div class="column-title"><%= streams_mapping['7c']['name_of_stream'] %></div>
                    <div id="originals_container" class="sidebar">
                         <div class="theiaStickySidebar">
                            <% major_stream_blockquotes[streams_mapping['7c'].title].forEach(function(e) { %>
                                <div id="<%= e[0]%>" class="ProtoCard-originals">
                                    <%- e[1] %>
                                </div>
                                <div style='margin-bottom: 20px'></div>
                            <% }) %>
                         </div>
                    </div>
                </div>
                <div class="proto-col col-4 proto-tab-content">
                    <div class="column-title"><%= streams_mapping['4c']['name_of_stream'] %></div>
                    <div id="digests_container" class="sidebar">
                        <div class="theiaStickySidebar">
                            <% major_stream_blockquotes[streams_mapping['4c'].title].forEach(function(e) { %>
                                <div id="<%= e[0]%>" class="ProtoCard-digests">
                                    <%- e[1] %>
                                </div>
                                <div style='margin-bottom: 20px'></div>
                            <% }) %>
                        </div>
                    </div>
                </div>
                <div class="proto-col col-2 proto-tab-content">
                    <div class="column-title"><%= streams_mapping['2c']['name_of_stream'] %></div>
                    <div id='opinions_container' class="sidebar">
                        <div class="theiaStickySidebar">
                            <% major_stream_blockquotes[streams_mapping['2c'].title].forEach(function(e) { %>
                                <div id="<%= e[0]%>" class="ProtoCard-opinions">
                                    <%- e[1] %>
                                </div>
                                <div style='margin-bottom: 20px'></div>
                            <% }) %>
                        </div>
                    </div>
                </div>
                <div class="proto-col col-3 proto-tab-content no-right-margin">
                    <div class="column-title"><%= streams_mapping['3c']['name_of_stream'] %></div>
                    <div id='feeds_container' class="sidebar">
                        <div class="theiaStickySidebar">
                            <% major_stream_blockquotes[streams_mapping['3c'].title].forEach(function(e) { %>
                                <div id="<%= e[0]%>" class="ProtoCard-feeds">
                                    <%- e[1] %>
                                </div>
                                <div style='margin-bottom: 20px'></div>
                            <% }) %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="proto-app-scroll-to-top" title="Scroll to top">
            <i class="angle up icon"></i>
        </div>
        <script>
            window.ProtoGraph = window.ProtoGraph || {};
            ProtoGraph.site = <%- JSON.stringify(site) %>
            ProtoGraph.streams = <%- JSON.stringify(streams_mapping) %>;
            ProtoGraph.ref_category_object = <%- JSON.stringify(ref_category_object) %>;
            ProtoGraph.vertical_header_json_url = "<%- vertical_header_json_url %>";
            ProtoGraph.homepage_header_json_url = "<%- homepage_header_json_url %>";
            ProtoGraph.site_header_json_url = "<%- site_header_json_url %>";
        </script>
        <script src="<%= AWS_S3_ENDPOINT %>/lib/protoGraph.min.js" defer></script>
        <script src="<%= AWS_S3_ENDPOINT %>/lib/proto-app-lib.min.js" defer></script>
        <script src="<%= AWS_S3_ENDPOINT %>/lib/proto-app-sticky-sidebar.min.js" defer></script>
        <script src="<%= AWS_S3_ENDPOINT %>/lib/proto-app-in-view.min.js" defer></script>
        <script src="<%= AWS_S3_ENDPOINT %>/lib/proto-app-init.min.js" defer></script>
        <script src="<%= AWS_S3_ENDPOINT %>/<%= template_page_s3 %>/proto-app-cover.min.js" defer></script>
        <% if (site.ga_code) { %>
            <!-- Global Site Tag (gtag.js) - Google Analytics -->
            <script async src="https://www.googletagmanager.com/gtag/js?id=<%= site.ga_code %>"></script>
            <script>
                window.dataLayer = window.dataLayer || [];
                function gtag(){dataLayer.push(arguments);}
                gtag('js', new Date());

                gtag('config', '<%= site.ga_code %>');
            </script>
        <% } %>
    </body>
</html>